body {
	font-size: 0.8em;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
table {
	border: 0px solid #ccc;
	margin: 5px 0;
}
ul table {
	border: 1px solid #ccc;
	margin: 0 auto;
}

td {
	padding: 7px;
	font-size: 0.8em;
}

#wrapper {
	position: relative;
	left: 0;
	right: 0;
	margin: 20px auto;
	width: 100%;
	max-width: 860px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 0px 0px 30px 0px;
	text-align: left;
	background-image: url(http://gen19online.com/ebay/NewDescription/2016/bg1.jpg);
	background-repeat: repeat;
	box-shadow: 0px 0px 10px #999;
}

/*---------------------------------------------*/

.block {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
}
.block a {
	position: relative;
	display: block;
	width: 250px;
	overflow-x: visible;
	font-weight: bold;
	box-shadow: 0px 3px 3px #CCC;
	position: relative;
	left: 0px;
	padding: 0px 20px;
	margin: 0px 10px 0px -21px;
	color: #fff;
	background-color: #a30000;
	text-shadow: 0px 1px 1px #666;
	-webkit-box-shadow: 0px 2px 4px #666;
	-moz-box-shadow: 0px 2px 4px #666;
	box-shadow: 0px 2px 4px #666;
	font-size: 1.5em;
	max-height: 50px;
	height: 50px;
	min-height: 50px;
	line-height: 50px;
	text-transform: uppercase;
}
.block a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #550000 #550000 transparent transparent;
}
.block a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #a30000 #a30000 #a30000 transparent;
	z-index:-11;
}
.header {
	position: relative;
	display: block;
	overflow-x: visible;
	font-weight: bold;
	box-shadow: 0px 3px 3px #CCC;
	position: relative;
	left: 0px;
	padding: 0 20px 0 40px;
	margin: 0px 10px 0px -21px;
	color: #fff;
	text-shadow: 0px 1px 1px #666;
	-webkit-box-shadow: 0px 2px 4px #666;
	-moz-box-shadow: 0px 2px 4px #666;
	box-shadow: 0px 2px 4px #666;
	font-size: 1.5em;
	max-height: 50px;
	height: 50px;
	min-height: 50px;
	line-height: 51px;
	text-transform: uppercase;
	width: 250px;
}



/*------------------------------------------------------*/
.block-description {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
}

.block-description a {
	background-color: #F43059;

}
.block-description a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #550000 #550000 transparent transparent;
}
.block-description a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #F43059 #F43059 #F43059 transparent;
	z-index:-11;
}
/*------------------------------------------------------*/
.block-measurment {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
}

.block-measurment a {
	background-color: #FFAE01;
}
.block-measurment a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #7c5400 #7c5400 transparent transparent;
}
.block-measurment a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #FFAE01 #FFAE01 #FFAE01 transparent;
	z-index:-11;
}
/*------------------------------------------------------*/
.block-chart {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
	z-index:9;
}

.block-chart a {
	background-color: #8AE924;
}
.block-chart a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #447212 #447212 transparent transparent;
}
.block-chart a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #8AE924 #8AE924 #8AE924 transparent;
	z-index:-11;
}
/*------------------------------------------------------*/
.block-shipping {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
}

.block-shipping a {
	background-color: #F43059;
}
.block-shipping a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #550000 #550000 transparent transparent;
}
.block-shipping a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #F43059 #F43059 #F43059 transparent;
	z-index:-11;
}
/*------------------------------------------------------*/
.block-policy {
	display: block;
	width: 100%;
	margin: 30px auto 0px auto;
}

.block-policy a {
	background-color: #FFAE01;
}
.block-policy a:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #7c5400 #7c5400 transparent transparent;
}
.block-policy a:before {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 0;
	left: -20px;
	top: 23px;
	border-width: 20px 15px;
	border-style: solid;
	border-color: #FFAE01 #FFAE01 #FFAE01 transparent;
	z-index:-11;
}
/*------------------------------------------------------*/

.content {
	margin: 0 auto;
	width: calc(100% - 120px);
	display: block;
	border: 1px solid #ccc;
	position: static;
	padding: 15px 30px;
	background-color: white;
	border-radius: 2px;
	z-index: 0;
	/* [disabled]box-sizing: border-box; */
}

.content li {
	padding: 5px 0px;
	list-style: disc;
}
.table_td_borderbottom {
	border-bottom: 1px solid #cccccc;
	text-transform: capitalize;
}
.table_td_borderbottomright {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	text-transform: capitalize;
}

.table_td_borderright {
	border-right: 1px solid #cccccc;
}
.table_sizechart {
	background-color: white;
	/* [disabled]margin: 0 auto; */
}

#logo {
	border-bottom: 1px solid #ccc;
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px){
.header {
	width:calc(100% - 38px);
	text-align: center;
}
}
@media only screen and (max-width: 500px) {
.header {
	width:calc(100% - 38px);
	text-align: center;
}
.table_sizechart {
}
}
